<!DOCTYPE html>
<html>
    <head>
        <title>not found</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <style>
            h1{
                font-size:100px;
            }
            h1:hover{
                font-size:120px;
            }
        </style>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1 >{{error}}</h1>
        </div>
        
      {{>footer}}
    </body>
</html>